In [2]:
seed = 161
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [3]:
ruta = 'example_data/202220_Laboratorio_3_data_university_admission_train.csv'
df = pd.read_csv(ruta)
print("Número de filas: ", df.shape[0])
print("Número de columnas: ", df.shape[1])
df.sample(5)

Número de filas:  1569
Número de columnas:  10

,Unnamed: 0,Serial No.,GRE Score,TOEFL Score,University Rating,SOP,LOR,CGPA,Research,Admission Points
1282,1282,152,299,88,5,5.00,5.00,6.49,1,94.00
826,826,402,315,110,2,3.00,3.00,6.67,0,66.00
46,46,92,298,114,2,4.39,3.76,7.88,0,36.01
438,438,444,303,118,2,3.50,1.74,7.70,0,49.02
371,371,132,311,95,2,1.46,2.22,7.87,0,47.03

In [4]:
# Delete row Unnamed: 0
df.drop('Unnamed: 0', axis=1, inplace=True)

In [5]:
# Rename columns
df.rename(columns={'Serial No.': 'serial_no','GRE Score': 'gre_score', 'TOEFL Score': 'toefl_score', 'University Rating': 'university_rating', 'SOP': 'sop', 'LOR ': 'lor', 'CGPA': 'cgpa', 'Research': 'research'}, inplace=True)

In [6]:
import json

json_array = []
# For each row in df convert to JSON
for i, row in df.iterrows():
    json_array.append(row.to_json())

# Convert dataframe to json
json_array = json.loads(df.to_json(orient='records'))

# Save JSON array to file
with open('./datos_prueba/caso_prueba5.json', 'w') as f:
    f.write(json.dumps(json_array))

In [7]:
# Get columns names
columns = df.columns.tolist()

random_data = []
for i in range(5):
    row = {}
    for col in columns:
        if col == 'serial_no':
            row[col] = np.random.randint(1, 1000)
        elif col == 'research':
            row[col] = np.random.randint(0, 1)
        elif col == 'university_rating':
            row[col] = np.random.randint(1, 5)
        elif col == 'gre_score':
            row[col] = np.random.randint(0, 340)
        elif col == 'toefl_score':
            row[col] = np.random.randint(0, 120)
        elif col == 'sop':
            row[col] = np.random.uniform(0, 5)
        elif col == 'lor':
            row[col] = np.random.uniform(0, 5)
        elif col == 'cgpa':
            row[col] = np.random.uniform(0, 10)
    random_data.append(row)


# Save JSON array to file
with open('./datos_prueba/caso_prueba2.json', 'w') as f:
    f.write(json.dumps(random_data))

In [9]:
# Get columns names
columns = df.columns.tolist()

random_data = []
for i in range(3000):
    row = {}
    for col in columns:
        if col == 'serial_no':
            row[col] = i
        elif col == 'research':
            row[col] = np.random.randint(0, 1)
        elif col == 'university_rating':
            row[col] = np.random.randint(1, 5)
        elif col == 'gre_score':
            row[col] = np.random.randint(0, 340)
        elif col == 'toefl_score':
            row[col] = np.random.randint(0, 120)
        elif col == 'sop':
            row[col] = np.random.uniform(0, 5)
        elif col == 'lor':
            row[col] = np.random.uniform(0, 5)
        elif col == 'cgpa':
            row[col] = np.random.uniform(0, 10)
    random_data.append(row)

# Save JSON array to file
with open('./datos_prueba/caso_prueba1_endp2.json', 'w') as f:
    f.write(json.dumps(random_data))